/* CSS */

/* ---------- Fonts ---------- */
@font-face { font-family: Josefin_Sans; src: url('../font/Josefin_Sans/JosefinSans-VariableFont_wght.ttf'); } 
@font-face { font-family: Josefin_Sans_Light; src: url('../font/Josefin_Sans/static/JosefinSans-Light.ttf'); } 
@font-face { font-family: Raleway; src: url('../font/Raleway/Raleway-Medium.ttf'); } 
@font-face { font-family: Raleway_Light; src: url('../font/Raleway/Raleway-Light.ttf'); } 
@font-face { font-family: Roboto; src: url('../font/Roboto/Roboto-Regular.ttf'); } 
@font-face { font-family: Roboto_Light; src: url('../font/Roboto/Roboto-Light.ttf'); } 
@font-face { font-family: Roboto_Thin; src: url('../font/Roboto/Roboto-Thin.ttf'); } 

a {
	color: #00AAAA;
}

.basicstyle {
	/* text */
	font-family: Roboto_Light,Raleway,Calibri,Helvetica;
}
.fullslate {
	/* size */
	height: 100vh;
	width: 100vw;
}
.body-container {
	margin-left: 10vw;
	margin-right: 10vw;
	
}
.body-container::-webkit-scrollbar {
	display: none;
}
.body-row {
	margin-top: 2em;
	background-color: #00000070;
	padding: 1em;
}
.body-col {
	
}
.collapse-header {
	margin-top: 1em;
	background-color: #00000070;
	padding: 0.5em;
	padding-left: 1em;
	padding-right: 1em;
}
.collapse-header > .subheading-1 {
	margin-bottom: 0px;
	color: #00AAAA;
}
.collapse-row > .body-row {
	display: none;
}
.collapse-arrow {
	color: #00AAAA;
}

/* ---------- Text ---------- */

.heading-1 {
	font-size: 3em;
	font-family: Josefin_Sans_Light;
}
.subheading-1 {
	font-size: 1.5em;
	font-family: Raleway_Light;
	margin-bottom: 1em;
}
.text-1 {
	font-size: 1em;
	font-family: Roboto_Light;
	max-width: 60em;
}
.subtext-1 {
	font-size: 1em;
	font-family: Roboto_Thin;
	opacity: 0.5;
}

/* ---------- effects ---------- */
.fullviz {
	opacity: 1 !important;
}

/* ---------- Animations ---------- */

@keyframes bounce {
	76% {	transform: translateY(0vh);	}
	79%	{	transform: translateY(1vh);	}
	82%	{	transform: translateY(0vh);	}
	89% {	transform: translateY(0vh);	}
	92%	{	transform: translateY(1vh);	}
	95%	{	transform: translateY(0vh);	}
}
@keyframes fade-in {
	0% { opacity:0; }
	100% { opacity:1; }
}