/* CSS */

/* ---------- Fonts ---------- */
@font-face { font-family: Josefin_Sans; src: url('../font/Josefin_Sans/JosefinSans-VariableFont_wght.ttf'); } 
@font-face { font-family: Josefin_Sans_Light; src: url('../font/Josefin_Sans/static/JosefinSans-Light.ttf'); } 
@font-face { font-family: Raleway; src: url('../font/Raleway/Raleway-Medium.ttf'); } 
@font-face { font-family: Raleway_Light; src: url('../font/Raleway/Raleway-Light.ttf'); } 
@font-face { font-family: Roboto; src: url('../font/Roboto/Roboto-Regular.ttf'); } 
@font-face { font-family: Roboto_Light; src: url('../font/Roboto/Roboto-Light.ttf'); } 
@font-face { font-family: Roboto_Thin; src: url('../font/Roboto/Roboto-Thin.ttf'); } 
@font-face { font-family: Roboto_Mono; src: url('../font/Roboto_Mono/RobotoMono-Regular.ttf'); } 
@font-face { font-family: Roboto_Mono_Light; src: url('../font/Roboto_Mono/RobotoMono-Light.ttf'); } 
@font-face { font-family: Roboto_Mono_Thin; src: url('../font/Roboto_Mono/RobotoMono-Thin.ttf'); } 

body {
	margin: 0px;
	background-color: #151515;
	color: #EEEEEE;
}
a {
	color: #00AAAA;
}
blockquote {
	font-style: italic;
}

.basicstyle {
	/* text */
	font-family: Roboto_Light,Raleway,Calibri,Helvetica;
}
.fullslate {
	/* size */
	height: 100vh;
	width: 100vw;
}
.body-container {
	margin-left: 10vw;
	margin-right: 10vw;
	
}
.body-container::-webkit-scrollbar {
	display: none;
}
.body-row {
	margin-top: 2vh;
	background-color: #00000070;
	padding: 1em;
}
.collapse-row {
	margin-top: 2vh;
}
.collapse-header {
	background-color: #00000070;
	padding: 0.5em;
	padding-left: 1em;
	padding-right: 1em;
}
.collapse-header > .subheading-1 {
	margin-bottom: 0px;
	color: #00AAAA;
}
.collapse-row > .body-row {
	display: none;
	margin-top: 0px;
}
.collapse-arrow {
	color: #00AAAA;
}
.link-row {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	margin-top: 2vh;
}
.link-row > .body-row {
	margin-top: 0px;
}
.link-end {
	min-width: 60px;
	background-color: #00000070;
	flex-grow: 1;
	padding: 1em;
}
.link-end > a > div {
	height: 100%;
	width: 100%;
	max-width: 60px;
	float: right;
	background: url('../img/svg/rightarrow.svg');
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-position-x: right;
	filter: invert(1) brightness(0.3) sepia(1) saturate(4) hue-rotate(125deg);
}

/* ---------- Text ---------- */

.heading-1 {
	font-size: 3em;
	font-family: Josefin_Sans_Light;
}
.subheading-1 {
	font-size: 1.5em;
	font-family: Raleway_Light;
	margin-bottom: 1em;
}
.text-1 {
	font-size: 1em;
	font-family: Roboto_Light;
	max-width: 60em;
}
.subtext-1 {
	font-size: 1em;
	font-family: Roboto_Thin;
	opacity: 0.5;
}

/* ---------- effects ---------- */
.fullviz {
	opacity: 1 !important;
}

/* ---------- Animations ---------- */

@keyframes bounce {
	76% {	transform: translateY(0vh);	}
	79%	{	transform: translateY(1vh);	}
	82%	{	transform: translateY(0vh);	}
	89% {	transform: translateY(0vh);	}
	92%	{	transform: translateY(1vh);	}
	95%	{	transform: translateY(0vh);	}
}
@keyframes fade-in {
	0% { opacity:0; }
	100% { opacity:1; }
}