/* 
landing.html CSS 
author: Ayrlin Renata
*/

/* ---------- elements ---------- */

body {
	margin: 0px;
	background-color: #151515;
	color: #EEEEEE;
}
body::-webkit-scrollbar {
	display: none;
}




















